* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
  border: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 4em;
  text-align: center;
}

.container .title h1 {
  font-size: 3em;
  color: rgb(48, 46, 46);
}

.container .title p {
  color: rgb(92, 92, 92);
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(118, 177, 228);
  padding: 2em 4em;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -1px rgba(0, 0, 0, 0.505);
}

.container form input {
  padding: 1em;
  border-radius: 5px;
  outline: none;
}

.container form button {
  padding: 1em;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgb(124, 219, 188);
  color: aliceblue;
}

.container form button:hover {
  background-color: rgb(119, 211, 180);
  transition: 0.3s;
}
